.label{
font-family: 'PT Sans', sans-serif;
}

.graphTitle{
font-family: 'PT Sans', sans-serif;
width: 800px;
padding-left: 100px;
padding-top: 50px;

}

p{
font-size: 14;
}

.Title {
font-family: 'PT Sans', sans-serif;
text-align: center;
color: #ca0020;
}

.explanation {
color: black;
text-align: left;
padding-left: 200px;
padding-right: 200px;
margin-bottom:30px;
font-size:18px;
}

p b {
color: #ca0020;
}

.axis {
	font: 10px sans-serif;
}
.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}
`
.axis text {
font-family: 'PT Sans', sans-serif;
}

path.plot { fill: none; stroke-width: 3; }

.text {
font-family: 'PT Sans', sans-serif;
text-anchor: middle;
font-size: 12px;
}

#race svg {
margin-left:auto; 
margin-right:auto; 
display:block;
}
